openapi: 3.0.0
info:
  title: Payment APIs
  version: 1.0.0
servers:
  - url: https://api.portone.cloud
paths:
  /api/merchant/auth-token:
    post:
      tags:
        - Payment APIs
      summary: Create JWT Token
      description: >
        This endpoint is used to authenticate the merchant and obtain an authentication token.
        Upon successful validations, the response will include the authentication token.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                portone_key:
                  description: The merchant's Portone API key.
                  type: string
                portone_secret:
                  description: The merchant's Portone secret key.
                  type: string
              required:
                - portone_key
                - portone_secret
              example:
                portone_key: 'sjcrvcbVYkFobHlx'
                portone_secret: '6cd264c70ec38d41a5dc2662e98c72bac58d3afc5bb4e80debbe3a976a0dc4eb'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    $ref: '#/components/schemas/AuthTokenContent'
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status code of API response
                    type: string
                  status_reason:
                    description: The status reason of API response
                    type: string
              example: |-
                {
                    "content": {
                        "expires_in": 21600,
                        "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MjQzMjM2NTEsImlhdCI6MTcyNDMwMjA1MSwiaXNzIjoiUE9SVE9ORSIsInN1YiI6InNqY3J2Y2JWWWtGb2JIbHgifQ.-A7y_JSRNbST9wIE26xd-oq0vLsQ-PavhHyxSts0glY"
                    },
                    "message": "Auth Token generated successfully!",
                    "status_code": "2000",
                    "status_reason": "SUCCESS"
                }
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status code of API response
                    type: string
                  status_reason:
                    description: The status reason of API response
                    type: string
              examples:
                example-0:
                  summary: Incorrect key
                  value: |-
                    {
                        "message": "Merchant not found for this key : sjcrvcbVYkFobHlx1",
                        "status_code": "4016",
                        "status_reason": "MERCHANT_NOT_FOUND"
                    }
                example-1:
                  summary: Missing body
                  value: |-
                    {
                        "message": "Invalid Request, err : portone_key is a required field",
                        "status_code": "4001",
                        "status_reason": "INVALID_REQUEST"
                    }
  /api/merchant/generate-signature:
    post:
      tags:
        - Payment APIs
      summary: Generate signature hash
      description: |-
        This endpoint allows you to generate a signature for a merchant transaction
        The response will include the generated signature for the provided transaction details.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                portone_key:
                  description: The merchant's Portone API key.
                  type: string
                currency:
                  description: The currency of the transaction.
                  type: string
                amount:
                  description: The amount of the transaction.
                  type: number
                  format: double
                merchant_order_id:
                  description: The unique merchant order reference generated by the merchant.
                  type: string
                success_url:
                  description: The URL to redirect to upon successful transaction.
                  type: string
                failure_url:
                  description: The URL to redirect to upon failed transaction.
                  type: string
              required:
                - portone_key
                - currency
                - amount
                - merchant_order_id
                - success_url
                - failure_url
              type: object
              example:
                portone_key: 'sjcrvcbVYkFobHlx'
                currency: 'THB'
                amount: 111.12
                merchant_order_id: 'e203767a-ae29-42dc-820f-61cbde24966e'
                success_url: 'https://yourwebsite.com/success'
                failure_url: 'https://yourwebsite.com/failure'
      parameters:
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MjQzMjM2NTEsImlhdCI6MTcyNDMwMjA1MSwiaXNzIjoiUE9SVE9ORSIsInN1YiI6InNqY3J2Y2JWWWtGb2JIbHgifQ.-A7y_JSRNbST9wIE26xd-oq0vLsQ-PavhHyxSts0glY
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: sjcrvcbVYkFobHlx
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    $ref: '#/components/schemas/SignatureHashContent'
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status code of API response
                    type: string
                  status_reason:
                    description: The status reason of API response
                    type: string
              example: |-
                {
                    "content": {
                        "signature": "i05pcNvUjyqvaPWDI1LdrmYdN7devt3NgFu/Wg31toA="
                    },
                    "message": "Signature generated successfully!",
                    "status_code": "2000",
                    "status_reason": "SUCCESS"
                }
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status code of API response
                    type: string
                  status_reason:
                    description: The status reason of API response
                    type: string
              examples:
                example-0:
                  summary: Invalid url
                  value: |-
                    {
                        "message": "Merchant not found for this key : sjcrvcbVYkFobHlx1",
                        "status_code": "4016",
                        "status_reason": "MERCHANT_NOT_FOUND"
                    }
                example-1:
                  summary: Missing field in body
                  value: |-
                    {
                        "message": "Invalid Request, err : currency is a required field",
                        "status_code": "4001",
                        "status_reason": "INVALID_REQUEST"
                    }
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status code of API response
                    type: string
                  status_reason:
                    description: The status reason of API response
                    type: string
              example: |-
                {
                    "message": "The JWT Token or header is invalid or expired!",
                    "status_code": "4054",
                    "status_reason": "INVALID_UNAUTHORIZED_JWT_TOKEN_ERROR"
                }
  /api/initiatePayment:
    post:
      tags:
        - Payment APIs
      summary: Initiate Payment
      description: |-
        Create a payment transaction for specific PSP and their supported Payment Methods. Please refer the list of supported PSPs & payment methods on PortOne.
        Once you have the response, depending on the “Payment Method” attribute, you will be either redirected to the PSP hosted payment page OR results page incase of Card/ Installment methods.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                key:
                  description: The unique PortOne key for merchant
                  type: string
                merchant_order_id:
                  description: The unique merchant order reference generated by the merchant
                  type: string
                pmt_channel:
                  description: The Payment Channel Key listed in PortOne docs
                  type: string
                pmt_method:
                  description: The Payment Method Key listed in PortOne docs
                  type: string
                description:
                  description: The description of the transaction
                  type: string
                environment:
                  description: The environment of the transaction is either live OR sandbox
                  type: string
                  enum: [live, sandbox]
                amount:
                  description: The amount of transaction, can be a floating-point number
                  type: number
                  format: double
                currency:
                  description: The currency of transaction
                  type: string
                signature_hash:
                  description: The signature_hash of transaction details generated as per <a href="/docs/payment-request" target="_blank">Payment Request Signature Documentation</a>
                  type: string
                billing_details:
                  $ref: '#/components/schemas/BillingDetails'
                shipping_details:
                  $ref: '#/components/schemas/ShippingDetails'
                token_params:
                  $ref: '#/components/schemas/TokenParams'
                order_details:
                  $ref: '#/components/schemas/OrderDetails'
                success_url:
                  description: The url of success page hosted by merchant.
                  type: string
                failure_url:
                  description: The url of failure page hosted by merchant.
                  type: string
                pending_url:
                  description: The url of pending page hosted by merchant.
                  type: string
                routing_enabled:
                  description: Boolean flag to identify if routing is enabled
                  type: boolean
                routing_params:
                  $ref: '#/components/schemas/RoutingParams'
                transaction_type:
                  type: string
                  description: The type of the transaction to capture
                  enum: [PREAUTH, PURCHASE]
                user_configured_field1:
                  description: Custom user configured field 1
                  type: string
                user_configured_field2:
                  type: string
                  description: Custom user configuration field 2
                user_configured_field3:
                  type: string
                  description: Custom user configuration field 3
                user_configured_field4:
                  type: string
                  description: Custom user configuration field 4
                user_configured_field5:
                  type: string
                  description: Custom user configuration field 5
              required:
                - key
                - merchant_order_id
                - pmt_channel
                - pmt_method
                - description
                - environment
                - amount
                - currency
                - signature_hash
                - success_url
                - failure_url
              type: object
              example:
                key: 'pbmYjsswixLjpqmj'
                merchant_order_id: '<Unique Merchant Order ID>'
                amount: 100000
                currency: 'VND'
                signature_hash: '<Generated SignatureHash>'
                billing_details:
                  billing_name: 'Billing Name'
                  billing_surname: Shipping Surname
                  billing_email: billingemail@gmail.com
                  billing_phone: '8959893980'
                  billing_address:
                    city: City
                    country_code: VN
                    locale: Locale
                    line_1: Line 1
                    line_2: Line 2
                    postal_code: '400202'
                    state: State
                shipping_details:
                  shipping_name: Shipping Name
                  shipping_surname: Shipping Surname
                  shipping_email: shippingemail@gmail.com
                  shipping_phone: '8959893980'
                  shipping_address:
                    city: City
                    country_code: VN
                    locale: Locale
                    line_1: Line 1
                    line_2: Line 2
                    postal_code: '400202'
                    state: State
                token_params:
                  token: 39ad3aac0486492fae11f96327ad9d97
                  partial_card_number: 424242******4242
                  expiry_month: '06'
                  expiry_year: '2022'
                  type: mastercard
                  save_card: true
                success_url: https://checkout.portone.cloud/success.html
                failure_url: https://checkout.portone.cloud/failure.html
                pending_url: https://checkout.portone.cloud/pending.html
                pmt_channel: MOMOPAY
                pmt_method: MOMOPAY_WALLET
                description: Test Example
                environment: sandbox
                order_details:
                  - id: abc
                    name: item1
                    price: 20110
                    quantity: 1
                    image: https://www.google.com
                    additional_details: { }
                routing_enabled: true
                routing_params:
                  type: failover
                  data:
                    - channel_key: OMISE
                      method_key: OMISE_CREDIT_CARD
                      rank: 2
                    - channel_key: STRIPE
                      method_key: STRIPE_CARD
                      rank: 1
                transaction_type: 'PURCHASE'
                user_configured_field1: SampleData1
                user_configured_field2: SampleData2
                user_configured_field3: SampleData3
                user_configured_field4: SampleData4
                user_configured_field5: SampleData5
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: 'pbmYjsswixLjpqmj'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  is_success:
                    description: The boolean flag denoting if payment link/charge was successfully created
                    type: boolean
                  redirect_url:
                    description: The unique PortOne key for merchant
                    type: string
                  channel_order_ref:
                    description: The unique Order reference generated by PSP for transaction.
                    type: string
                  merchant_order_ref:
                    description: The unique Order reference generated by merchant for transaction.
                    type: string
                  order_ref:
                    description: The unique Order reference generated by PortOne for transaction.
                    type: string
                  message:
                    description: The extra message about the transaction
                    type: string
                  deep_link:
                    description: The deep-link for transaction to use in mobile
                    type: string
                  additional_data:
                    description: The additional metadata of transaction
                    type: object
                  qrcode_url:
                    description: The QR Code Image URL which merchant can use to scan and complete the transaction
                    type: string
                  expiry_in_minutes:
                    description: The expiration time in minutes for the QRCode based transaction
                    type: string
              example: |-
                {
                    "is_success": true,
                    "redirect_url": "https://pm-redirects.stripe.com/authorize/acct_1JmaEEJrbhj1WB8Z/pa_nonce_LfpPJY3Ho2MuYLj2aCK6j4tEAJzWxzj",
                    "channel_order_ref": "pi_3KyTl5Jrbhj1WB8Z017xJS9i",
                    "merchant_order_ref": "Merchant1652330173615",
                    "order_ref": "2937z05mrtN17ZYigwZhfKdqEGQ",
                    "message": "",
                    "deep_link": "",
                    "additional_data": null,
                    "qrcode_url": "https://image.portone.ip/3647863746876478-qrcode.jpreg",
                    "expiry_in_minutes": "20"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  is_success:
                    description: The boolean flag denoting if payment link/charge was successfully created
                    type: boolean
                  message:
                    description: The extra message about the transaction
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "is_success": false,
                  "message": "signature_hash is a required field",
                  "status_code": "4001",
                  "status_reason": "INVALID_PAYMENT_REQUEST"
                }
  /api/paymentLink:
    post:
      tags:
        - Payment APIs
      summary: Create Payment Link
      description: |-
        Create a payment link. In response you will get the Payment Link reference and the Payment link URL. You can share the payment link with your customer. The master merchant can also create the payment link for their sub-merchants, by passing the sub-merchant key as a header. Refer API docs for additional information.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                portone_key:
                  description: The unique PortOne key for merchant
                  type: string
                merchant_details:
                  $ref: '#/components/schemas/MerchantDetails'
                merchant_order_id:
                  description: The unique Merchant Order reference generated by merchant
                  type: string
                signature_hash:
                  description: The signature_hash of payment link details generated as per <a href="/docs/payment-request" target="_blank">Payment Link Request Signature Documentation</a>
                  type: string
                environment:
                  description: The environment of transaction either live OR sandbox
                  type: string
                  enum: [live, sandbox]
                amount:
                  description: The amount of transaction, can be floating point number
                  type: number
                  format: double
                currency:
                  description: The currency of transaction
                  type: string
                country_code:
                  description: The country_code of transaction
                  type: string
                description:
                  description: The description of the transaction
                  type: string
                billing_details:
                  $ref: '#/components/schemas/BillingDetails'
                shipping_details:
                  $ref: '#/components/schemas/ShippingDetails'
                order_details:
                  $ref: '#/components/schemas/OrderDetails'
                success_url:
                  description: The url of success page hosted by merchant.
                  type: string
                failure_url:
                  description: The url of failure page hosted by merchant.
                  type: string
                pending_url:
                  description: The url of pending page hosted by merchant.
                  type: string
                expiry_date:
                  description: Date and time to expire the payment link in UTC format.
                  type: string
                source:
                  description:  "'default', 'api' or 'checkout' -- The Source of Payment Link creation."
                  type: string
                show_shipping_details:
                  description: Boolean flag to show shipping details in Checkout page
                  type: boolean
                show_back_button:
                  description: Boolean flag to show back button in Checkout page
                  type: boolean
                is_checkout_embed:
                  description: Boolean flag to enable checkout embedding
                  type: boolean
                notify_by_email:
                  description: Boolean flag to notify customer by email
                  type: boolean
                notify_by_phone:
                  description: Boolean flag to notify customer by phone
                  type: boolean
                notes:
                  $ref: '#/components/schemas/NotesDetails'
                custom_txn_webhook_urls:
                  description: The array of string havind webhook endpoint URLs
                  type: array
                user_configured_field1:
                  description: The User configured field 1 for the payment link.
                  type: string
                user_configured_field2:
                  description: The User configured field 2 for the payment link.
                  type: string
                user_configured_field3:
                  description: The User configured field 3 for the payment link.
                  type: string
                user_configured_field4:
                  description: The User configured field 4 for the payment link.
                  type: string
                user_configured_field5:
                  description: The User configured field 5 for the payment link.
                  type: string
                use_merchant_configured_dcc_rate:
                  description: Boolean flag to specify to use the merchant configured dcc rate
                  type: boolean
                merchant_dcc_rate:
                  $ref: '#/components/schemas/MerchantDccRate'
              required:
                - portone_key
                - merchant_order_id
                - amount
                - currency
                - signature_hash
                - country_code
                - merchant_details
                - success_url
                - failure_url
                - source
                - environment
              type: object
              example:
                portone_key: 'pbmYjsswixLjpqmj'
                merchant_details:
                  name: Nike
                  back_url: https://demo.portone.cloud/checkout.html
                  promo_code: ''
                  promo_discount: 0
                  shipping_charges: 0
                merchant_order_id: <Unique Merchant Order ID>
                signature_hash: <Generated SignatureHash>
                amount: 140000
                currency: VND
                country_code: VN
                billing_details:
                  billing_name: Test mark
                  billing_surname: Something
                  billing_email: jatin@portone.io
                  billing_phone: '+848959893980'
                  billing_address:
                    city: City
                    country_code: VN
                    locale: en
                    line_1: address11
                    line_2: address_211
                    postal_code: '400202'
                    state: Maha
                    country_name: Vietnam
                shipping_details:
                  shipping_name: xyz
                  shipping_surname: Something
                  shipping_email: xyz@gmail.com
                  shipping_phone: '1234567890'
                  shipping_address:
                    city: City
                    country_code: VN
                    locale: en
                    line_1: ' address1'
                    line_2: ' address_2'
                    postal_code: '400202'
                    state: Mah
                    country_name: Vietnam
                order_details:
                  - id: '1'
                    price: 140000
                    name: Stubborn Attachments
                    quantity: 1
                    image: https://www.demo.portone.cloud/images/bella-toes.jpg
                    additional_details:
                      color: black
                      size: 20
                success_url: https://checkout.portone.cloud/success.html
                failure_url: https://checkout.portone.cloud/failure.html
                pending_url: https://checkout.portone.cloud/pending.html
                expiry_date: '2020-02-27T14:30:00.000Z'
                source: api
                show_shipping_details: true
                show_back_button: false
                is_checkout_embed: false
                notify_by_email: false
                notify_by_phone: false
                environment: sandbox
                description: PortOne team testing
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: 'pbmYjsswixLjpqmj'
        - name: X-Portone-SubMerchant-Key
          in: header
          schema:
            type: string
          example: 'gvFFggsdgGfrshuh'
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  payment_link_ref:
                    description: The unique payment link reference stored in PortOnes database.
                    type: string
                  payment_link:
                    description: The payment link generated on PortOne.
                    type: string
              example: |-
                {
                  "payment_link_ref": "2BEemUknaImTq5ljmoNQQV2tSll",
                  "payment_link": "https://checkout.portone.cloud?ref=2BEemUknaImTq5ljmoNQQV2tSll"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  is_success:
                    description: The boolean flag denoting if payment link/charge was successfully created
                    type: boolean
                  message:
                    description: The extra message about the transaction
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "is_success": false,
                  "message": "signature_hash is a required field",
                  "status_code": "4010",
                  "status_reason": "INVALID_UNAUTHORISED_TRANSACTION_IAMPORTKEY_ERROR"
                }
  /api/update-paylink/{payment_link_ref}:
    put:
      tags:
        - Payment APIs
      summary: Update the Payment Link
      description: |-
        Update a payment link. In response you will get the updated Payment Link details.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                country_code:
                  description: The country_code of transaction
                  type: string
                amount:
                  description: The amount of transaction, can be floating point number
                  type: number
                  format: double
                currency:
                  description: The currency of transaction
                  type: string
                billing_details:
                  $ref: '#/components/schemas/BillingDetails'
                shipping_details:
                  $ref: '#/components/schemas/ShippingDetails'
                order_details:
                  $ref: '#/components/schemas/OrderDetails'
                success_url:
                  description: The url of success page hosted by merchant.
                  type: string
                failure_url:
                  description: The url of failure page hosted by merchant.
                  type: string
                pending_url:
                  description: The url of pending page hosted by merchant.
                  type: string
                merchant_details:
                  $ref: '#/components/schemas/MerchantDetails'
                expiry_date:
                  description: Date and time to expire the payment link in UTC format.
                  type: string
                reminder_time:
                  description: The integer number to configure the reminder
                  type: number
                reminder_time_unit:
                  description: The string value either 'hour' or 'day', to configure reminder using reminder_time field
                  type: string
                scheduled_date:
                  description: Date and time to scheduled the payment link in UTC format.
                  type: string
                description:
                  description: The description of the transaction
                  type: string
                mobile_redirect_url:
                  description: The URL used in the mobile redirection flow
                  type: string
                show_shipping_details:
                  description: Boolean flag to show shipping details in Checkout page
                  type: boolean
                show_back_button:
                  description: Boolean flag to show back button in Checkout page
                  type: boolean
                default_guest_checkout:
                  description: Boolean flag to setup the default guest checkout for this created payment link
                  type: boolean
                is_checkout_embed:
                  description: Boolean flag to enable checkout embedding
                  type: boolean
                notify_by_email:
                  description: Boolean flag to notify customer by email
                  type: boolean
                notify_by_phone:
                  description: Boolean flag to notify customer by phone
                  type: boolean
                is_billing_shipping_same:
                  description: Boolean flag to configure the same billing and shipping address
                  type: boolean
                show_items:
                  description: Boolean flag to show items in checkout UI
                  type: boolean
                show_saved_cards:
                  description: Boolean flag to show the saved cards in the checkout UI
                  type: boolean
                notes:
                  $ref: '#/components/schemas/NotesDetails'
                custom_txn_webhook_urls:
                  description: The array of string havind webhook endpoint URLs
                  type: array
                user_configured_field1:
                  description: The User configured field 1 for the payment link.
                  type: string
                user_configured_field2:
                  description: The User configured field 2 for the payment link.
                  type: string
                user_configured_field3:
                  description: The User configured field 3 for the payment link.
                  type: string
                user_configured_field4:
                  description: The User configured field 4 for the payment link.
                  type: string
                user_configured_field5:
                  description: The User configured field 5 for the payment link.
                  type: string
                customer_details:
                  $ref: '#/components/schemas/CustomerDetails'
                use_merchant_configured_dcc_rate:
                  description: Boolean flag to specify to use the merchant configured dcc rate
                  type: boolean
                merchant_dcc_rate:
                  $ref: '#/components/schemas/MerchantDccRate'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: 'sadfsadd'
        - name: X-Portone-SubMerchant-Key
          in: header
          schema:
            type: string
          example: 'gvFFggsdgGfrshuh'
        - name: payment_link_ref
          in: path
          schema:
            type: string
          required: true
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  country_code:
                    description: The country_code of transaction
                    type: string
                  amount:
                    description: The amount of transaction, can be floating point number
                    type: number
                    format: double
                  currency:
                    description: The currency of transaction
                    type: string
                  billing_details:
                    $ref: '#/components/schemas/BillingDetails'
                  shipping_details:
                    $ref: '#/components/schemas/ShippingDetails'
                  order_details:
                    $ref: '#/components/schemas/OrderDetails'
                  success_url:
                    description: The url of success page hosted by merchant.
                    type: string
                  failure_url:
                    description: The url of failure page hosted by merchant.
                    type: string
                  pending_url:
                    description: The url of pending page hosted by merchant.
                    type: string
                  merchant_details:
                    $ref: '#/components/schemas/MerchantDetails'
                  expiry_date:
                    description: Date and time to expire the payment link in UTC format.
                    type: string
                  reminder_time:
                    description: The integer number to configure the reminder
                    type: number
                  reminder_time_unit:
                    description: The string value either 'hour' or 'day', to configure reminder using reminder_time field
                    type: string
                  scheduled_date:
                    description: Date and time to scheduled the payment link in UTC format.
                    type: string
                  description:
                    description: The description of the transaction
                    type: string
                  mobile_redirect_url:
                    description: The URL used in the mobile redirection flow
                    type: string
                  show_shipping_details:
                    description: Boolean flag to show shipping details in Checkout page
                    type: boolean
                  show_back_button:
                    description: Boolean flag to show back button in Checkout page
                    type: boolean
                  default_guest_checkout:
                    description: Boolean flag to setup the default guest checkout for this created payment link
                    type: boolean
                  is_checkout_embed:
                    description: Boolean flag to enable checkout embedding
                    type: boolean
                  notify_by_email:
                    description: Boolean flag to notify customer by email
                    type: boolean
                  notify_by_phone:
                    description: Boolean flag to notify customer by phone
                    type: boolean
                  is_billing_shipping_same:
                    description: Boolean flag to configure the same billing and shipping address
                    type: boolean
                  show_items:
                    description: Boolean flag to show items in checkout UI
                    type: boolean
                  show_saved_cards:
                    description: Boolean flag to show the saved cards in the checkout UI
                    type: boolean
                  custom_txn_webhook_urls:
                    description: The array of string havind webhook endpoint URLs
                    type: array
                  user_configured_field1:
                    description: The User configured field 1 for the payment link.
                    type: string
                  user_configured_field2:
                    description: The User configured field 2 for the payment link.
                    type: string
                  user_configured_field3:
                    description: The User configured field 3 for the payment link.
                    type: string
                  user_configured_field4:
                    description: The User configured field 4 for the payment link.
                    type: string
                  user_configured_field5:
                    description: The User configured field 5 for the payment link.
                    type: string
                  customer_details:
                    $ref: '#/components/schemas/MerchantDccRate'
                  use_merchant_configured_dcc_rate:
                    description: Boolean flag to specify to use the merchant configured dcc rate
                    type: boolean
                  merchant_dcc_rate:
                    $ref: '#/components/schemas/MerchantDccRate'
              example: |-
                {
                  "content": {
                      "chaipay_key": "hjgfshdfhgsfdhg",
                      "country_code": "TH",
                      "merchant_order_id": "Paymentlink1747906911047",
                      "amount": 300,
                      "currency": "USD",
                      "billing_details": {
                          "billing_name": "nmnm",
                          "billing_surname": "ioio",
                          "billing_email": "sample@chai.finance",
                          "billing_phone": "+919449233127",
                          "billing_address": {
                              "city": "Bangalore",
                              "country_code": "VN",
                              "locale": "en",
                              "line_1": "Suncity Ambegaon",
                              "line_2": "address_211",
                              "postal_code": "400202",
                              "state": "Maha",
                              "country_name": "Vietnam",
                              "address_ref": "2w1rzWES2Vi8OfVpr3bZBy9glCn"
                          }
                      },
                      "shipping_details": {
                          "shipping_name": "xyz",
                          "shipping_surname": "Something",
                          "shipping_email": "xyz@gmail.com",
                          "shipping_phone": "1234567890",
                          "shipping_address": {
                              "city": "City",
                              "country_code": "VN",
                              "locale": "en",
                              "line_1": " address1",
                              "line_2": " address_2",
                              "postal_code": "400202",
                              "state": "Mah",
                              "country_name": "Vietnam",
                              "address_ref": "2w1rzY0lAxKHXFpcgGRpkoAXxT7"
                          }
                      },
                      "order_details": [
                          {
                              "id": "0",
                              "name": "Test2",
                              "price": 50,
                              "quantity": 4,
                              "image": "",
                              "marked_price": 0,
                              "discount_amount": 0,
                              "discount_percent": 0,
                              "additional_details": {}
                          },
                          {
                              "id": "knb",
                              "name": "Test3",
                              "price": 200,
                              "quantity": 1,
                              "image": "",
                              "marked_price": 0,
                              "discount_amount": 0,
                              "discount_percent": 0,
                              "additional_details": {}
                          }
                      ],
                      "success_url": "https://checkout.portone.cloud/success.html",
                      "failure_url": "https://checkout.portone.cloud/failure.html",
                      "pending_url": "https://checkout.portone.cloud/pending.html",
                      "signature_hash": "adsds/dsfsdfsdsd=",
                      "merchant_details": {
                          "name": "Nike",
                          "logo": "",
                          "back_url": "https://demo.portone.cloud/checkout.html",
                          "shipping_charges": 100,
                          "promo_code": "NA",
                          "promo_discount": 200,
                          "brand_primary_color": "#de643b",
                          "brand_secondary_color": "#f0f0f0"
                      },
                      "expiry_hours": 48,
                      "status": "Created",
                      "link": "https://stage-checkout.portone.cloud?ref=2xRhhOh6GxQEulSn2Yf7wAchJ3z",
                      "created_at": "2025-05-22T09:41:51.308683Z",
                      "expired_at": "2025-05-28T15:41:35.924193+05:30",
                      "source": "api",
                      "description": "PortOne team testing",
                      "mobile_redirect_url": "",
                      "show_shipping_details": true,
                      "show_back_button": true,
                      "default_guest_checkout": false,
                      "is_checkout_embed": false,
                      "notify_by_email": true,
                      "notify_by_phone": true,
                      "is_billing_shipping_same": false,
                      "show_items": true,
                      "environment": "sandbox",
                      "bank_details": {
                          "is_merchant_sponsored": false,
                          "override_default": false
                      },
                      "link_order_ref": "Paymentlink1747906911047",
                      "customer_details": {
                          "name": "new",
                          "email_address": "new@chai.finance",
                          "phone_number": "+919481403127"
                      },
                      "unit_amount": 0,
                      "stock_quantity": 0,
                      "chosen_payment_methods": {},
                      "custom_page_fields": {},
                      "notes": null,
                      "master_merchant_key": "",
                      "show_saved_cards": false,
                      "support_email": "qa@t.vom",
                      "support_phone": "+9176327456354",
                      "qrcode_link": "",
                      "custom_txn_webhook_urls": null,
                      "transaction_forex_details": null,
                      "dynamic_currency_checkout_enabled": true,
                      "dynamic_currency_signature_hash": "",
                      "portone_key": "7ywetytwyegytg",
                      "user_configured_field1": "new data 1",
                      "user_configured_field2": "",
                      "user_configured_field3": "data dat dat",
                      "user_configured_field4": "",
                      "user_configured_field5": "",
                      "dcc_markup_factor": 0,
                      "is_dcc_invoice_checkout_defaulted": false,
                      "show_fx_conversion": false
                  },
                  "message": "Payment link updated successfully",
                  "status_code": "2000",
                  "status_reason": "SUCCESS"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  is_success:
                    description: The boolean flag denoting if payment link/charge was successfully created
                    type: boolean
                  message:
                    description: The extra message about the transaction
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "is_success": false,
                  "message": "JWT authentication error",
                  "status_code": "4010",
                  "status_reason": "INVALID_JWT_TOKEN"
                }
  /api/paymentLink/{payment_link_ref}/status/{link_status}:
    put:
      tags:
        - Payment APIs
      summary: Update Payment Link Status
      description: |-
        Update the status of the Payment Link. Currently only updating the "cancelled" status is supported.
      requestBody:
        content: {}
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: NPSkZZYefGyKvBxi
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: payment_link_ref
          in: path
          schema:
            type: string
          required: true
          example: 23gvghsy4yu2f3yfy23uyfy2uf24
        - name: link_status
          in: path
          schema:
            type: string
          required: true
          example: cancelled
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The extra message about the transaction
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "Payment link status updated successfully to cancelled",
                  "status_code": "2000",
                  "status_reason": "SUCCESS"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The extra message about the transaction
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "Invalid status! Only cancelled status is allowed",
                  "status_code": "4001",
                  "status_reason": "INVALID_PAYMENT_REQUEST"
                }
  /api/merchant/{key}/webhook:
    post:
      tags:
        - Payment APIs
      summary: Add Webhook Endpoint
      description: |-
        Add the webhook endpoint for PortOne. Along with Webhook details you'll need to specify the environment and webhook type in the request. Refer PortOne docs for additional details.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The unique name of webhook endpoint.
                  type: string
                url:
                  description: The unique url for webhook endpoint.
                  type: string
                type:
                  description: The type of webhook being configured. Refer <a href="/docs/webhook-configuration" target="_blank">PortOne Webhooks</a> for more information.
                  type: string
                  enum: [payment_status, payment_link_status, refund_status, subscription_status, payout_status, onboarding_status]
                environment:
                  description: The environment of the transaction is either live OR sandbox
                  type: string
                  enum: [live, sandbox]
              type: object
              required:
                - name
                - url
                - type
                - environment
              example:
                name: webhook test
                url: >-
                  https://webhook.site/e707eb14-a2b4-4684-b8de-6470ed78f99cssdfsdf
                type: payment_status
                environment: live
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: key
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  content:
                    $ref: '#/components/schemas/WebhookContent'
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "content": {
                      "name": "webhook test",
                      "uuid": "7a02688b-5b58-4d19-a718-2b4681f5f2b7",
                      "url": "https://webhook.site/e707eb14-a2b4-4684-b8de-6470ed78f99cssdfsdf",
                      "enabled": true,
                      "created_at": "2022-06-29 05:50:34.020042694 +0000 UTC",
                      "type": "payment_status"
                  },
                  "message": "Webhook added successfully!",
                  "status_code": "2000",
                  "status_reason": "SUCCESS"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "invalid auth key",
                  "status_code": "4010",
                  "status_reason": "INVALID_UNAUTHORISED_TRANSACTION_IAMPORTKEY_ERROR"
                }
    get:
      tags:
        - Payment APIs
      summary: Fetch All Webhook Endpoints
      description: |-
        Fetch the webhook endpoints added. You'll need to specify the environment as query parameter in the request. In response you will get the webhook details.
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: environment
          in: query
          schema:
            type: string
          example: live
          required: true
        - name: key
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookContent'
                    description: The metadata of the webhooks configured in the PortOne.
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                    "content": [
                        {
                            "name": "webhook testing",
                            "uuid": "a7b0cbce-c2bd-46c6-a66f-527d637163f9",
                            "url": "https://webhook.site/89cbdbbf-0658-4d2d-b8de-7f59c516af7a",
                            "enabled": true,
                            "created_at": "2022-04-20T07:25:58.457526Z",
                            "type": "payment_status"
                        }
                    ],
                    "message": "Webhook fetched successfully!",
                    "status_code": "2000",
                    "status_reason": "SUCCESS"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "key is a required field",
                  "status_code": "4010",
                  "status_reason": "INVALID_UNAUTHORISED_TRANSACTION_IAMPORTKEY_ERROR"
                }
  /api/transaction/{merchantOrderRef}/status:
    get:
      tags:
        - Payment APIs
      summary: Get Transaction Status
      description: |-
        Fetch the status of the Transaction. Status will be either "Success/ Failed or Pending". Refer PortOne docs for additional details.
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: merchantOrderRef
          in: path
          schema:
            type: string
          required: true
          example: MERCHANT1647433108462
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  content:
                    $ref: '#/components/schemas/TransactionStatusContent'
                  status_code:
                    description: The status_code for API request execution result
                    type: string
                  status_reason:
                    description: The status_reason for API request execution result
                    type: string
              example: |-
                {
                  "content": {
                      "channel_order_ref": "6G457114F4645741R",
                      "order_ref": "2YGZp22ExeOu0As61wa7i0JyMJn",
                      "status": "Expired"
                  },
                  "status_code": "2000",
                  "status_reason": "SUCCESS"
                }
  /api/{key}/transaction-details:
    post:
      tags:
        - Payment APIs
      summary: Get Transaction Details
      description: |-
        Fetch the details of the Transaction.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                order_ref:
                  description: The unique Order reference generated by PortOne for transaction.
                  type: string
              required:
                - order_ref
              example:
                order_ref: 2U9H9Fax1AtSb9zdyxVpTtGOcwQ_1
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: key
          in: path
          schema:
            type: string
          required: true
          example: ShgshjhgHdg
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  content:
                    $ref: '#/components/schemas/TransactionDetailsContent'
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for API request execution result
                    type: string
                  status_reason:
                    description: The status_reason for API request execution result
                    type: string
              example: |-
                {
                  "content": {
                      "currency": "VND",
                      "amount": 10000,
                      "order_ref": "2UQK3at2JV2bZ4Sg73Wm7YA6yIa",
                      "channel_order_ref": "",
                      "merchant_order_ref": "2UQK3EteNT2XWVbvaioHaluClrv_1",
                      "country_code": "TH",
                      "status": "Initiated",
                      "channel_key": "APPOTAPAY",
                      "method_name": "CARD",
                      "method_key": "APPOTAPAY_CREDIT_CARD",
                      "channel_logo": "https://chaiport-pg-icons-latest-nov.s3.ap-southeast-1.amazonaws.com/appota.png",
                      "method_sub_type": "INT_CREDIT_DEBIT_CARD",
                      "buyer_name": "",
                      "buyer_email": "test@gmail.com",
                      "buyer_phone": "",
                      "buyer_address1": "address",
                      "buyer_address2": "address_2",
                      "buyer_city": "City",
                      "buyer_country": "TH",
                      "status_code": "",
                      "status_reason": "",
                      "status_channel_reason": "",
                      "date": "2023-08-24T08:36:05.127827Z",
                      "is_refund_allowed": true,
                      "is_multi_refund_allowed": false,
                      "refund_completed": false,
                      "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36",
                      "ip_address": "103.5.134.77",
                      "description": "",
                      "payment_link_ref": "2UQJiXOKq0R9PiB8oVYXocmYEo9",
                      "source": "checkout",
                      "payment_method_used": "",
                      "merchant_name": "PortOne",
                      "merchant_key": "dzcylAVbbBkhkSeg",
                      "merchant_email_address": "cenoyeh653@canyona.com",
                      "channel_name": "APPOTAPAY",
                      "payment_link_merchant_order_ref": "21DF3546B042821",
                      "customer_email_address": "",
                      "customer_phone_number": "test@gmail.com",
                      "customer_name": "",
                      "created_by": "kalpesh+payout@portone.io",
                      "user_message": "",
                      "routing_enabled": false,
                      "payment_page_ref": "",
                      "refund_status": "",
                      "subscription_order_ref": "",
                      "is_cross_border_transaction": false,
                      "order_details": {
                        "data": [
                          {
                            "item_id": "knb",
                            "product_name": "Test",
                            "price": 100,
                            "quantity": 1,
                            "image": "",
                            "additional_details": {
                                "customer_id": "123",
                                "order_id": "abc"
                            }
                          }
                        ]
                      }
                  },
                  "status_code": "2000",
                  "status_reason": "SUCCESS"
                }
        '400':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "Transaction record with given reference not found",
                  "status_code": "4096",
                  "status_reason": "INVALID_REFERENCE"
                }
  /api/paymentLink/{merchantLinkRef}/status:
    get:
      tags:
        - Payment APIs
      summary: Fetch Payment Link Status using Mch Link Ref (Deprecated)
      description: |-
        Fetch the status of the Payment Link. Status will be either "Success/ Deleted or Created". Refer PortOne docs for additional details.
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: merchantLinkRef
          in: path
          schema:
            type: string
          required: true
          example: 2212D256605F222
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  content:
                    $ref: '#/components/schemas/PaymentLinkContent'
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for API request execution result
                    type: string
                  status_reason:
                    description: The status_reason for API request execution result
                    type: string
              example: |-
                {
                  "content": {
                      "merchantOrderRef": "2212D256605F222",
                      "paymentLinkRef": "2kxG67L5yd3d6spRv76uE1QWnR5",
                      "status": "Success",
                      "transactionsList": [
                          {
                              "channelOrderRef": "0",
                              "createdAt": "2022-06-14T09:30:45.152761Z",
                              "merchantOrderRef": "Merchant1655199044347",
                              "status": "Success",
                              "statusCode": "2000",
                              "statusReason": "Success"
                          }
                      ]
                  },
                  "status_code": "2000",
                  "status_reason": "SUCCESS"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "key is a required field",
                  "status_code": "4010",
                  "status_reason": "INVALID_UNAUTHORISED_TRANSACTION_IAMPORTKEY_ERROR"
                }
  /api/paymentLink/{portOneLinkRef}/fetch-status:
    get:
      tags:
        - Payment APIs
      summary: Fetch Payment Link Status using PortOne Link Ref
      description: |-
        Fetch the status of the Payment Link. Status will be either "Success/ Deleted or Created". Refer PortOne docs for additional details.
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: portOneLinkRef
          in: path
          schema:
            type: string
          required: true
          example: 2kxG67L5yd3d6spRv76uE1QWnR5
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  content:
                    $ref: '#/components/schemas/PaymentLinkContent'
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for API request execution result
                    type: string
                  status_reason:
                    description: The status_reason for API request execution result
                    type: string
              example: |-
                {
                  "content": {
                      "merchantOrderRef": "2212D256605F222",
                      "paymentLinkRef": "2kxG67L5yd3d6spRv76uE1QWnR5",
                      "status": "Success",
                      "transactionsList": [
                          {
                              "channelOrderRef": "0",
                              "createdAt": "2022-06-14T09:30:45.152761Z",
                              "merchantOrderRef": "2212D256605F222",
                              "status": "Success",
                              "statusCode": "2000",
                              "statusReason": "Success"
                          }
                      ]
                  },
                  "status_code": "2000",
                  "status_reason": "SUCCESS"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "key is a required field",
                  "status_code": "4010",
                  "status_reason": "INVALID_UNAUTHORISED_TRANSACTION_IAMPORTKEY_ERROR"
                }
  /api/merchant/{smchKey}/paymentLink/{merchantLinkRef}/status:
    get:
      tags:
        - Payment APIs
      summary: Fetch Payment Link Status using Merchant Link Ref (New)
      description: |-
        Fetch the status of the Payment Link. Status will be either "Success/ Deleted or Created". Refer PortOne docs for additional details.
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: smchKey
          in: path
          schema:
            type: string
          required: true
          example: ShgshjhgHdg
        - name: merchantLinkRef
          in: path
          schema:
            type: string
          required: true
          example: 2212D256605F222
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  content:
                    $ref: '#/components/schemas/PaymentLinkContent'
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for API request execution result
                    type: string
                  status_reason:
                    description: The status_reason for API request execution result
                    type: string
              example: |-
                {
                  "content": {
                      "merchantOrderRef": "2212D256605F222",
                      "paymentLinkRef": "2BEemUknaImTq5ljmoNQQV2tSll",
                      "status": "Success",
                      "transactionsList": [
                          {
                              "channelOrderRef": "0",
                              "createdAt": "2022-06-14T09:30:45.152761Z",
                              "merchantOrderRef": "Merchant1655199044347",
                              "status": "Success",
                              "statusCode": "2000",
                              "statusReason": "Success"
                          }
                      ]
                  },
                  "status_code": "2000",
                  "status_reason": "SUCCESS"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "key is a required field",
                  "status_code": "4010",
                  "status_reason": "INVALID_UNAUTHORISED_TRANSACTION_IAMPORTKEY_ERROR"
                }
  /api/merchant/{key}/add-pay-channel/{pckey}:
    post:
      tags:
        - Payment APIs
      summary: Add PSP Credentials
      description: |-
        Add the credentials of Payment Channel in PortOne. In response you'll get the maskedData of the credentials.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                creds:
                  description: The credentials JSON consisting of the data required by PSP
                  type: object
                country:
                  description: The country of the PSP. e.g. - GLOBAL, VN, TH, ID
                  type: string
                environment:
                  description: The environment of the transaction is either live OR sandbox
                  type: string
                  enum: [live, sandbox]
              type: object
              required:
                - creds
                - country
                - environment
              example:
                creds:
                  accessKey: TestKey
                  partnerCode: TestCode
                  secretKey: TestSecretKey
                country: VN
                environment: sandbox
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: key
          in: path
          schema:
            type: string
          required: true
        - name: pckey
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  content:
                    $ref: '#/components/schemas/PSPCredsContent'
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for API request execution result
                    type: string
                  status_reason:
                    description: The status_reason for API request execution result
                    type: string
              example: |-
                {
                    "content": {
                        "MerchantUUID": "61c842c5-3fdf-4f0e-95bd-51e2c12364ea",
                        "PaymentChannelKey": "ONEPAY",
                        "maskedData": {
                            "accessKey": "**********ewe",
                            "partnerCode": "**********dJC",
                            "secretKey": "****************************************************61v"
                        }
                    },
                    "message": "Payment Channel Creds added successfully!",
                    "status_code": "2000",
                    "status_reason": "SUCCESS"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "key is a required field",
                  "status_code": "4010",
                  "status_reason": "INVALID_UNAUTHORISED_TRANSACTION_IAMPORTKEY_ERROR"
                }
    put:
      tags:
        - Payment APIs
      summary: Update PSP Credentials
      description: |-
        Update the credentials of Payment Channel in PortOne. In response you'll get the maskedData of the credentials.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                creds:
                  description: The credentials JSON consisting of the data required by PSP
                  type: object
                country:
                  description: The country of the PSP. e.g. - GLOBAL, VN, TH, ID
                  type: string
                environment:
                  description: The environment of the transaction is either live OR sandbox
                  type: string
                  enum: [live, sandbox]
              type: object
              required:
                - creds
                - country
                - environment
              example:
                creds:
                  accessKey: EoLA0ZbzfKKto1Ne
                  secretKey: JOS7RdvltX42CEowrHRvna4hAwknpjBT
                  partnerCode: MOMOF1RA20191002
                country: VN
                environment: sandbox
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: key
          in: path
          schema:
            type: string
          required: true
        - name: pckey
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  content:
                    $ref: '#/components/schemas/PSPCredsContent'
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for API request execution result
                    type: string
                  status_reason:
                    description: The status_reason for API request execution result
                    type: string
              example: |-
                {
                    "content": {
                        "MerchantUUID": "61c842c5-3fdf-4f0e-95bd-51e2c12364ea",
                        "PaymentChannelKey": "ONEPAY",
                        "maskedData": {
                            "accessKey": "**********ewe",
                            "partnerCode": "**********dJC",
                            "secretKey": "****************************************************61v"
                        }
                    },
                    "message": "Payment Channel Creds added successfully!",
                    "status_code": "2000",
                    "status_reason": "SUCCESS"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "key is a required field",
                  "status_code": "4010",
                  "status_reason": "INVALID_UNAUTHORISED_TRANSACTION_IAMPORTKEY_ERROR"
                }
  /api/merchant/{key}/pay-channel/{pckey}:
    get:
      tags:
        - Payment APIs
      summary: Fetch PSP Credentials
      description: |-
        Fetch the credentials of Payment Channel configured in the PortOne. In response you'll get the maskedData of the credentials.
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: environment
          in: query
          schema:
            type: string
          example: sandbox
          required: true
        - name: payType
          in: query
          schema:
            type: string
          example: PAYIN
          required: true
        - name: key
          in: path
          schema:
            type: string
          required: true
        - name: pckey
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/PSPCredsMetaContent'
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for API request execution result
                    type: string
                  status_reason:
                    description: The status_reason for API request execution result
                    type: string
              example: |-
                {
                  "content": [
                      {
                          "key": "ONEPAY",
                          "type": "Gateway",
                          "logo": "https://PortOne-pg-icons-latest-nov.s3.ap-southeast-1.amazonaws.com/onepay.png",
                          "creds": {
                              "accessKey": "**********ewe",
                              "partnerCode": "**********dJC",
                              "secretKey": "****************************************************61v"
                          },
                          "is_enabled": true,
                          "country": "VN",
                          "pay_type": "PAYIN",
                          "is_va_flow": false
                      }
                  ],
                  "message": "Payment Channel Creds fetched successfully!",
                  "status_code": "2000",
                  "status_reason": "SUCCESS"
                }
        '401':
          description: Failure response
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: The description of the API request execution result
                    type: string
                  status_code:
                    description: The status_code for transaction of transaction creation
                    type: string
                  status_reason:
                    description: The status_reason for transaction of transaction creation
                    type: string
              example: |-
                {
                  "message": "key is a required field",
                  "status_code": "4010",
                  "status_reason": "INVALID_UNAUTHORISED_TRANSACTION_IAMPORTKEY_ERROR"
                }
  /api/transaction/status:
    put:
      tags:
        - Payment APIs
      summary: Update Transaction Status
      description: |-
        Update Transaction Status or COD Order Status
      requestBody:
        content:
          application/json:
            schema:
              properties:
                status:
                  description: The status of the transaction, either 'Success' or 'Failed'
                  type: string
                merchant_order_ref:
                  description: The unique merchant order reference generated by the merchant
                  type: string
                signature:
                  description: The SignatureHash of the payload data
                  type: string
              type: object
              required:
                - status
                - merchant_order_ref
                - signature
              example:
                merchant_order_ref: Merchant1655292274163
                status: Success
                signature: +tIV05AsEX4mffPTXayhmkZrWX7qb5w+sBS0gjE7ScE=
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: NPSkZZYefGyKvBxi
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/transaction/{order_ref}/capture:
    post:
      tags:
        - Payment APIs
      summary: Capture Transaction
      description: |-
        Captures transaction with the specified order_ref
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: ShgshjhgHdg
        - name: Authorization
          in: header
          description: The `Authorization` header is used to include the JWT for authenticating API requests; learn how to generate the token <a href="/docs/jwt-authentication" target="_blank">in this guide</a>
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI2NDk3NjU5MDEsImlhdCI6MTY0OTc2NTkwMSwiaXNzIjoiQ0hBSVBBWSIsInN1YiI6Ik5QU2taWlllZkd5S3ZCeGkifQ.VHicuV4dvfp8skktlcRVJNS_WwsD_MtKB4JLBbLWOcQ
        - name: order_ref
          in: path
          description: The order_ref of the transaction to capture
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A success message indicating the transaction was captured
                  status_code:
                    type: string
                    description: A code indicating the status of the transaction capture
                  status_reason:
                    type: string
                    description: A reason for the status of the transaction capture
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A message indicating the transaction was not found
                  status_code:
                    type: string
                    description: A code indicating the status of the transaction not found error
                  status_reason:
                    type: string
                    description: A reason for the status of the transaction not found error
  /api/{portOneKey}/update-transaction-details/{merchant_order_ref}:
    put:
      tags:
        - Payment APIs
      summary: Update Transaction Details
      description: |-
        Update Transaction Details like description and User Configured Fields, Partial update allowed
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  description: The description of the transaction
                  type: string
                user_configured_field1:
                  description: The first User Configured Field
                  type: string
                user_configured_field2:
                  description: The first User Configured Field
                  type: string
                user_configured_field3:
                  description: The third User Configured Field
                  type: string
                user_configured_field4:
                  description: The forth User Configured Field
                  type: string
                user_configured_field5:
                  description: The fifth User Configured Field
                  type: string
              type: object
              example:
                description: Sample Text description
                user_configured_field1: Success
                user_configured_field2: tIV05AsEX4mffPTXayhmkZrWX7qb5w
                user_configured_field3: Dummy text
                user_configured_field4: Meaningful Reference
                user_configured_field5: Random Reference
      parameters:
        - name: X-Portone-Client-Key
          in: header
          schema:
            type: string
          example: NPSkZ23YefGyK232
        - name: Authorization
          in: header
[...]
